/* Boiler-plate */

*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --navy: #1F2937;
  --off-white: #E5E7EB;
  --white: #F9FAF8;
  --blue: #3882F6;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;
}

/* Main CSS */

/* General */

.section, #fig-wrapper, #top-bar, #footer, ul {
  display: flex;
}

#top-bar, #section-one, #footer {
  background-color: var(--navy);
  color: var(--white);
}

#section-two, #section-three {
  color: var(--navy);
}

#section-two h2, #section-three blockquote {
  font-size: 36px;
}

#section-three {
  background-color: var(--off-white);
}

#sign-up-msg, button {
  background-color: var(--blue);
  color: white;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.4em 0.5em;
  width: 6vw;
}

button:hover {
  cursor: pointer;
}

/* Header */ 

ul {
  list-style-type: none;
  gap: 1rem;
  margin-right: 4rem;
}

li {
  display: inline;
}

a:hover {
  color: var(--blue);
}

a {
  text-decoration: none;
  color: var(--white);
}

#top-bar {
  justify-content: space-between;
  padding-top: 2vh;
  align-items: center;
}

#hero-logo {
  font-size: 24px;
  margin-left: 4rem;
}

/* Section 1 */

#section-one {
  padding: 6rem 0;
}

#section-one div {
  margin-left: 4rem;
  width: 30%;
}

#section-one div * {
  margin-bottom: 10px;
}

#section-one button {
  margin-top: 1vh;
}

/* Section 2 */

#section-two {
  flex-direction: column;
  text-align: center;
  padding: 2rem 0 5rem;
}

#fig-wrapper {
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
  margin-top: 3rem;
}

figure {
  display: table;
}

figure img {
  width: 18vw;
  height: 25vh;
  object-fit: cover;
}

figcaption {
  color: var(--blue);
  display: table-caption;
  caption-side: bottom;
}

/* Section 3 */

#section-three {
  justify-content: center;
  padding: 7vh 0;
}

#quote-wrap {
  line-height: 5vh;
}

#quote-wrap {
  width: 40%;
}

blockquote {
  line-height: 7vh;
}

#quote-wrap p {
  text-align: right;
}

#section-four {
  justify-content: center;
}

/* Footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  color: var(--off-white);
  align-items: center;
  justify-content: center;
}

/* Font Classes */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

p, ul, .roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button, .roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h4, .roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2, .roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

blockquote, .roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}